@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
:root {
  --content-width: 1086px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}

/* lg-размер (<=1199px) */
@media (max-width: 1199px) {
  /* CSS для ширины от 992px до 1199px */
}
/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
}
/* sm-размер (<=768px) */
@media (max-width: 767px) {
  /* CSS для ширины от 576px до 767px */
}
/* xs-размер (<=575px) */
@media (max-width: 575px) {
  /* CSS для ширины до 575px (включительно) */
}
/* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  -webkit-text-size-adjust: 100%;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.header-wrp {
  padding: 26px 31px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header-logo img {
  width: 29px;
  height: 44px;
}
.header-logo span {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 27px;
  color: #212B31;
  margin-left: 8px;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header-menu__item {
  margin-right: 22px;
}
.header-menu__item:last-child {
  margin-right: 0px;
}
.header-menu__link {
  font-size: 16px;
  line-height: 19px;
  color: #72787D;
  cursor: pointer;
  -webkit-transition: color 1.2s;
  -o-transition: color 1.2s;
  transition: color 1.2s;
}
.header-menu__link:hover {
  color: #036FC7;
}

.header-link {
  padding: 9px 20px;
  font-size: 15px;
  line-height: 16px;
  color: #fff;
  background-color: #212B31;
  border-radius: 4px;
}
.header-link:hover {
  color: #fff;
}

.screen1 {
  padding-top: 74px;
  padding-bottom: 150px;
}
.screen1__title {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 48px;
  line-height: 64px;
  color: #212B31;
}
.screen1__actions-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 80px;
}
.screen1__link {
  font-size: 17px;
  line-height: 24px;
  padding: 13px 25px;
  border: 1px solid #DADEDF;
  border-radius: 4px;
  margin-right: 0;
  color: #212B31;
}
.screen1__link_active {
  margin-right: 16px;
  color: #fff;
  background-color: #212B31;
}
.screen1__img-basik {
  display: block;
  margin: 0 auto;
  max-width: 1040px;
  margin-bottom: 36px;
}
.screen1__img-group {
  display: block;
  max-width: 806px;
  height: 58px;
  margin: 0 auto;
}

.advantage__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.advantage__item {
  text-align: center;
  margin-right: 40px;
}
.advantage__item:last-child {
  margin-right: 0px;
}
.advantage__image {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.advantage__item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  color: #212B31;
}
.advantage__descr {
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}

.screen2 {
  margin-top: 150px;
  text-align: center;
}
.screen2__title {
  margin: 0;
  padding: 0;
  font-size: 32px;
  line-height: 48px;
  color: #212B31;
  margin-bottom: 16px;
}
.screen2__descr {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
  margin-bottom: 40px;
}
.screen2__image {
  display: block;
  margin: 0 auto;
  max-width: 1040px;
  margin-bottom: 150px;
}

.build-delivery {
  margin-top: 150px;
  padding-bottom: 70px;
}
.build-delivery__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.build-delivery__info {
  max-width: 542px;
}
.build-delivery__title {
  font-size: 32px;
  line-height: 48px;
  color: #212B31;
}
.build-delivery__descr {
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
}
.build-delivery__link {
  display: block;
  position: relative;
  max-width: 300px;
  cursor: pointer;
  font-size: 20px;
  line-height: 32px;
  color: #212B31;
  z-index: 1;
}
.build-delivery__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  bottom: 0px;
  left: -2px;
  width: 250px;
  height: 16px;
  background-color: #FFD042;
}
.build-delivery__image {
  max-width: 464px;
  min-height: 400px;
}

.sponsors__link {
  margin-right: 36px;
  margin-bottom: 10px;
  display: block;
}
.sponsors__link:last-child {
  margin-right: 0px;
  margin-left: -35px;
}
.sponsors__image {
  max-width: 180px;
}

.sponsors-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 56px;
  padding-bottom: 56px;
  border-top: 1px solid #EEF2F3;
  border-bottom: 1px solid #EEF2F3;
}

.screen3__title {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 21px;
  font-size: 32px;
  line-height: 48px;
  color: #212B31;
}
.screen3__descr {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  max-width: 830px;
  text-align: center;
  font-size: 20px;
  line-height: 32px;
  color: #72787D;
  margin-bottom: 28px;
}
.screen3__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.screen3__info {
  max-width: 550px;
}
.screen3__subtitle {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #212B31;
  margin-bottom: 19px;
}
.screen3__text {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  color: #72787D;
}
.screen3__image {
  max-width: 420px;
  max-height: 280px;
}

.screen3-wrp {
  padding-top: 78px;
  padding-bottom: 143px;
}

.screen3__info_right {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
/*# sourceMappingURL=main.css.map */