<section class="build-delivery">
  <div class="container">
    <div class="build-delivery__wrp">
      <div class="build-delivery__info">
        <h2 class="build-delivery__title">Мы заботимся о доставке на стройплощадку и о людях, которые на них рассчитывают</h2>
        <p class="build-delivery__descr">Мы знаем всё о гордости от сияющего нового здания. Нам также известно всё о разочаровании от попыток завершить проект в срок и в рамках бюджета.</p>
        <a href="#" class="build-delivery__link">Мы здесь, чтобы помочь.</a>
      </div>
      <picture>
        <source srcset="img/build-delivery.avif" type="image/avif">
        <source srcset="img/build-delivery.webp" type="image/webp">
        <img loading="lazy" src="img/build-delivery.png" class="build-delivery__image" alt="build delivery pics">
      </picture>
    </div>
  </div>
</section>