<footer class="footer">
  <div class="container">
    <div class="footer-wrp">
      <div class="footer-top">
        <div class="footer-top__item">
          <div class="footer__logo">
            <img src="img/svg/logo.svg" alt="footer logo">
            <span>СтройКонтроль</span>
          </div>
          <a href="#" class="footer-top__descr">г. Москва <br> Пресненская наб., 88, оф. 527</a>
          <a href="#" class="footer-top__descr">info@stroycontrol.ru <br> +7 (945) 123-45-67</a>
        </div>
        <div class="footer-top__item">
          <h3 class="footer-top__title">Наш продукт</h3>
          <a href="#" class="footer-top__descr">Процесс</a>
          <a href="#" class="footer-top__descr">Продукция</a>
        </div>
        <div class="footer-top__item">
          <h3 class="footer-top__title">Обслуживание</h3>
          <a href="#" class="footer-top__descr">Клиенты</a>
          <a href="#" class="footer-top__descr">Надёжность</a>
        </div>
        <div class="footer-top__item">
          <h3 class="footer-top__title">Компания</h3>
          <a href="#" class="footer-top__descr">О нас</a>
          <a href="#" class="footer-top__descr">Связаться с нами</a>
        </div>
      </div>
      <div class="footer-bottom">
        <a class="footer-bottom__item">© 2020 СтройКонтроль, Все права защищены.</a>
        <a class="footer-bottom__item">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>