<header class="header">
<div class="header-wrp">
  <div class="header-logo">
    <img src="/img/svg/logo.svg" alt="site logo">
    <span>СтройКонтроль</span>
  </div>
  <nav>
    <ul class="header-menu">
      <li class="header-menu__item"><a href="#" class="header-menu__link">Главная</a></li>
      <li class="header-menu__item"><a href="#" class="header-menu__link">О нас</a></li>
      <li class="header-menu__item"><a href="#" class="header-menu__link">Продукция</a></li>
      <li class="header-menu__item"><a href="#" class="header-menu__link">Процесс</a></li>
      <li class="header-menu__item"><a href="#" class="header-menu__link">Надёжность</a></li>
      <li class="header-menu__item"><a href="#" class="header-menu__link">Клиенты</a></li>
      <li class="header-menu__item"><a href="#" class="header-menu__link">Связаться с нами</a></li>
      <li class="header-menu__item"><a href="#" class="header-menu__link header-link">Заказать демо</a></li>
    </ul>
  </nav>

</div>
</header>
