<section class="screen8">
  <div class="container">
    <h2 class="screen8__title">Почему нужно выбрать нас?</h2>
    <p class="screen8__descr">В строительной логистике всегда есть возможности для улучшения.</p>
    <div class="screen8-wrp">
      <div class="screen8__info">
        <div class="screen8__item">
          <img src="img/svg/screen8-1.svg" alt="screen8 icon">
          <h3 class="screen8__subtitle">Отмеченное наградами ПО</h3>
          <p class="screen8__text">Всемирно известное программное обеспечение, признанное государственными учреждениями, инновационными группами и техническими организациями</p>
        </div>
        <div class="screen8__item">
          <img src="img/svg/screen8-2.svg" alt="screen8 icon">
          <h3 class="screen8__subtitle">Большой потенциал</h3>
          <p class="screen8__text">Входит в топ-25 самых многообещающих стартапов ConTech по версии Cemex Ventures, Moscow Consulting Group, BuiltWorld и PwC</p>
        </div>
        <div class="screen8__item">
          <img src="img/svg/screen8-3.svg" alt="screen8 icon">
          <h3 class="screen8__subtitle">Выбор лидеров рынка</h3>
          <p class="screen8__text">Рекомендуемый поставщик технологий для 3 из 10 ведущих генеральных подрядчиков в Европе</p>
        </div>
        <div class="screen8__item">
          <img src="img/svg/screen8-4.svg" alt="screen8 icon">
          <h3 class="screen8__subtitle">Устойчивое развитие и безопасность</h3>
          <p class="screen8__text">Способствует снижению выбросов CO2 и повышает безопасность на месте</p>
        </div>
      </div>
      <div class="screen8__slider">
        <div class="swiper">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <p class="screen8-slider__text">Мы видим огромный потенциал в таких решениях, как СтройКонтроль, и хотим использовать их для улучшения наших строительных процессов.</p>
              <div class="screen8-slider__block">
                <picture>
                  <source srcset="img/screen8-slider.avif" type="image/avif">
                  <source srcset="img/screen8-slider.webp" type="image/webp">
                  <img loading="lazy" src="img/screen8-slider.jpg" class="screen8-slider__image" alt="slider logo">
                </picture>
                <div>
                  <h3 class="screen8-slider__title">Волков Матвей</h3>
                  <p class="screen8-slider__descr">Генеральный директор ООО “СпецСтрой”</p>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <p class="screen8-slider__text">Мы видим огромный потенциал в таких решениях, как СтройКонтроль, и хотим использовать их для улучшения наших строительных процессов.</p>
              <div class="screen8-slider__block">
                <picture>
                  <source srcset="img/screen8-slider.avif" type="image/avif">
                  <source srcset="img/screen8-slider.webp" type="image/webp">
                  <img loading="lazy" src="img/screen8-slider.jpg" class="screen8-slider__image" alt="slider logo">
                </picture>
                <div>
                  <h3 class="screen8-slider__title">Волков Матвей</h3>
                  <p class="screen8-slider__descr">Генеральный директор ООО “СпецСтрой”</p>
                </div>
              </div>
            </div>
          </div>
             


          
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        
          <!-- If we need navigation buttons -->
          <!-- <div class="swiper-button-prev"></div> -->
          <!-- <div class="swiper-button-next"></div> -->
        
          <!-- If we need scrollbar -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>
      </div>
    </div>
  </div>
</section>