<section class="screen6">
  <div class="container">
    <div class="screen6-wrp">
      <div class="screen6-wrp__top">
        <div class="screen6__info">
          <h2 class="screen6__title">Создан для строительства</h2>
          <ul class="screen6__list">
            <li class="screen6__item">
              <h3 class="screen6__subtitle screen6__subtitle_marker">Хорошо виден в любых условиях</h3>
              <p class="screen6__descr">Независимо от того, солнечно или темно, найдется подходящий режим экрана</p>
            </li>
            <li class="screen6__item">
              <h3 class="screen6__subtitle screen6__subtitle_marker">Поддержка международных языков</h3>
              <p class="screen6__descr">На современной стройке работают люди со всего мира. Язык не является проблемой
                для СтройКонтроля.</p>
            </li>
            <li class="screen6__item">
              <h3 class="screen6__subtitle screen6__subtitle_marker">Работает на любом устройстве - мобильном телефоне, планшете, ноутбуке</h3>
              <p class="screen6__descr">Люди на разных должностях используют разные устройства. СтройКонтроль
                автоматически настраивается в соответствии с требованиями. Вы также можете проецировать панели
                мониторинга живого проекта на настенные экраны.</p>
            </li>
          </ul>
          <div class="screen6__action-wrp">
            <a href="#" class="screen6__link screen6__link_active">Заказать демо</a>
            <a href="#" class="screen6__link">Подробнее</a>
          </div>
        </div>
        <picture>
          <source srcset="img/screen6__main-img.avif" type="image/avif">
          <source srcset="img/screen6__main-img.webp" type="image/webp">
          <img loading="lazy" src="img/screen6__main-img.png" class="screen6__main-img" width="618" height="493" alt="main pics">
        </picture>
      </div>
      <div class="screen6-wrp__bottom">
        <div class="screen6__block">
          <img src="img/svg/screen6-1.svg" alt="screen6 img" class="screen6__img">
          <h3 class="screen6__subtitle">Привлечение субподрядчика</h3>
          <p class="screen6__descr">Для выполнения этой работы вам понадобятся ваши субподрядчики. У нас есть
            проверенный и надежный процесс для этого.</p>
        </div>
        <div class="screen6__block">
          <img src="img/svg/screen6-2.svg" alt="screen6 img" class="screen6__img">
          <h3 class="screen6__subtitle">Привлечены ключевые поставщики</h3>
          <p class="screen6__descr">У нас уже есть ключевые поставщики, использующие программное обеспечение, что
            обеспечивает еще больший контроль и прозрачность информации.</p>
        </div>
        <div class="screen6__block">
          <img src="img/svg/screen6-3.svg" alt="screen6 img" class="screen6__img">
          <h3 class="screen6__subtitle">100% соответствие</h3>
          <p class="screen6__descr">У нас есть безупречный список обеспечения соответствия требованиям, которые
            необходимы вам для успешного выполнения проекта с помощью СтройКонтроль.</p>
        </div>
      </div>
    </div>
  </div>
</section>