<section class="screen2">
  <div class="container">
    <h2 class="screen2__title">Строительство - это хаос</h2>
    <p class="screen2__descr">Хаос может быть удивительной творческой силой, воздвигающая новые здания из пыли.
      Хаос вызывает несчастные случаи, задержки и потери. Он вводит проекты в стресс и разочарование.
      Это означает, что вы действительно не контролируете ситуацию.</p>
    <picture>
      <source srcset="img/screen2.avif" type="image/avif">
      <source srcset="img/screen2.webp" type="image/webp">
      <img loading="lazy" src="img/screen2.png" class="screen2__image" alt="screen2 pics">
    </picture>
  </div>
</section>