<section class="screen4">
  <div class="container">
    <div class="screen4-wrp">
      <h2 class="screen4__title">Доставка стала проще</h2>
      <p class="screen4__descr">Мы позаботимся обо всех ваших различных поставках и их многочисленных специализированных требованиях к разгрузке.</p>
      <ul class="screen4__list">
        <li class="screen4__item">
          <img src="img/svg/screen4-1.svg" alt="screen4 img">
          <div class="screen4__info">
            <h3 class="screen4__subtitle">Бетон</h3>
            <p class="screen4__text">Поставки бетона точно планируются, а его состояние контролируется, что обеспечивает максимально возможное время для установки.</p>
          </div>
        </li>
        <li class="screen4__item">
          <img src="img/svg/screen4-2.svg" alt="screen4 img">
          <div class="screen4__info">
            <h3 class="screen4__subtitle">Сборные панели</h3>
            <p class="screen4__text">Сборные панели прибывают по очереди, их хранение на месте отслеживается, а их установка планируется и контролируется.</p>
          </div>
        </li>
        <li class="screen4__item">
          <img src="img/svg/screen4-3.svg" alt="screen4 img">
          <div class="screen4__info">
            <h3 class="screen4__subtitle">Строительные леса</h3>
            <p class="screen4__text">Строительные леса отслеживаются от получения до хранения, использования и возврата, поэтому всегда ясно, что на месте и где.</p>
          </div>
        </li>
        <li class="screen4__item">
          <img src="img/svg/screen4-4.svg" alt="screen4 img">
          <div class="screen4__info">
            <h3 class="screen4__subtitle">Утилизация отходов</h3>
            <p class="screen4__text">Отходы контролируются и сортируются, а заполненность контейнеров отслеживается в цифровом виде.</p>
          </div>
        </li>
        <li class="screen4__item">
          <img src="img/svg/screen4-5.svg" alt="screen4 img">
          <div class="screen4__info">
            <h3 class="screen4__subtitle">Фасады</h3>
            <p class="screen4__text">Элементы фасада поступают последовательно, их сборка контролируется, а перемещение отслеживается.</p>
          </div>
        </li>
        <li class="screen4__item">
          <img src="img/svg/screen4-6.svg" alt="screen4 img">
          <div class="screen4__info">
            <h3 class="screen4__subtitle">Оборудование</h3>
            <p class="screen4__text">Оборудование и операторы гарантированно доступны в случае необходимости, а их рабочее состояние отслеживается.</p>
          </div>
        </li>
        <li class="screen4__item">
          <img src="img/svg/screen4-7.svg" alt="screen4 img">
          <div class="screen4__info">
            <h3 class="screen4__subtitle">Опалубка</h3>
            <p class="screen4__text">Вся опалубка отслеживается от прибытия до отправления, а ее состояние контролируется, что сводит к минимуму потери и повреждения.</p>
          </div>
        </li>
        <li class="screen4__item">
          <img src="img/svg/screen4-8.svg" alt="screen4 img">
          <div class="screen4__info">
            <h3 class="screen4__subtitle">Отделка</h3>
            <p class="screen4__text">Материалы поступают точно в срок, маркируются и детально отслеживаются для установки.</p>
          </div>
        </li>
        <li class="screen4__item">
          <img src="/img/svg/screen4-9.svg" alt="screen4 img">
          <div class="screen4__info">
            <h3 class="screen4__subtitle">Электрика и сантехника</h3>
            <p class="screen4__text">Доставка осуществляется в точной последовательности для сложной установки, что сокращает или устраняет необходимость в хранении.</p>
          </div>
        </li>
      </ul>
      <a href="#" class="screen4__link">... и все остальные материалы,<span>которые поступают или покидают вашу площадку</span></a>
    </div>
  </div>
</section>