<section class="screen5">
  <div class="container">
    <div class="screen5-wrp">
      <h2 class="screen5__title">Надёжность</h2>
      <p class="screen5__descr">Благодаря надёжному строительству выигрывают все - муниципальные органы выполняют свои обязанности перед гражданами, инвесторы получают сертификаты своих проектов, а генеральные подрядчики получают повышенную репутацию.</p>
      <ul class="screen5__list">
        <li class="screen5__item">
          <img src="img/svg/screen5-2.svg" alt="screen5 img" class="screen5__img">
          <h3 class="screen5__subtitle">Сниженное загрязнение</h3>
          <p class="screen5__text">При оптимизации логистики требуется меньше поездок, что приводит к снижению выбросов CO2. Выбрасываемый CO2 контролируется, что позволяет ставить цели и вносить ощутимые улучшения.</p>
        </li>
        <li class="screen5__item">
          <img src="img/svg/screen5-3.svg" alt="screen5 img" class="screen5__img">
          <h3 class="screen5__subtitle">Улучшенное управление отходами</h3>
          <p class="screen5__text">Упрощается сортировка отходов, автоматизируется утилизация отходов, а поврежденные материалы при необходимости используются повторно, что снижает затраты и стимулирует переработку и повторное использование.</p>
        </li>
        <li class="screen5__item">
          <img src="img/svg/screen5-4.svg" alt="screen5 img" class="screen5__img">
          <h3 class="screen5__subtitle">Улучшенное влияние на общество</h3>
          <p class="screen5__text">Уменьшаются проблемы с дорожным движением и шумовое загрязнение, что улучшает жизнь местного сообщества. Улучшенное обращение с материалами и хранение означает, что рабочие также лучше защищены.</p>
        </li>
      </ul>
    </div>
  </div>
</section>