<section class="screen9">
  <div class="container">
    <div class="screen9-wrp">
      <div class="screen9__item">
        <picture>
          <source srcset="img/screen9-1.avif" type="image/avif">
          <source srcset="img/screen9-1.webp" type="image/webp">
          <img loading="lazy" src="img/screen9-1.png" class="screen9__image" width="200" height="120" alt="screen9 pics">
        </picture>
        <p class="screen9__descr">50 лучших инструментов ConTech</p>
      </div>
      <div class="screen9__item">
        <picture>
          <source srcset="img/screen9-2.avif" type="image/avif">
          <source srcset="img/screen9-2.webp" type="image/webp">
          <img loading="lazy" src="img/screen9-2.png" class="screen9__image" width="200" height="120" alt="screen9 pics">
        </picture>
        <p class="screen9__descr">25 лучших стартапов ConTech в ЕС</p>
      </div>
      <div class="screen9__item">
        <picture>
          <source srcset="img/screen9-3.avif" type="image/avif">
          <source srcset="img/screen9-3.webp" type="image/webp">
          <img loading="lazy" src="img/screen9-3.png" class="screen9__image" width="200" height="120" alt="screen9 pics">
        </picture>
        <p class="screen9__descr">50 лучших стартапов Global ConTech</p>
      </div>
      <div class="screen9__item">
        <picture>
          <source srcset="img/screen9-4.avif" type="image/avif">
          <source srcset="img/screen9-4.webp" type="image/webp">
          <img loading="lazy" src="img/screen9-4.png" class="screen9__image" width="200" height="120" alt="screen9 pics">
        </picture>
        <p class="screen9__descr">2018 - 50 лучших стартапов ЕС PropTech</p>
      </div>




    </div>
  </div>
</section>