<section class="screen3">
  <div class="container">
    <h2 class="screen3__title">Что такое СтройКонтроль?</h2>
    <p class="screen3__descr">СтройКонтроль - это интеллектуальная система управления доставкой, предоставляющая информацию и контроль материалов на сложных строительных площадках в режиме реального времени.</p>
    <div class="screen3-wrp">

      <div class="screen3__item">
        <div class="screen3__info">
          <h3 class="screen3__subtitle">Отслеживайте доставку по всей цепочке поставок</h3>
          <p class="screen3__text">От поставщика до субподрядчика - вы всегда знаете, где находятся ваши материалы, благодаря чему обычные отходы уходят в прошлое и сокращаются несчастные случаи на месте.</p>
        </div>
        <picture>
          <source srcset="img/screen3-1.avif" type="image/avif">
          <source srcset="img/screen3-1.webp" type="image/webp">
          <img loading="lazy" src="img/screen3-1.png" class="screen3__image" alt="screen3 pics">
        </picture>
      </div>
      <div class="screen3__item">
        <div class="screen3__info screen3__info_right">
          <h3 class="screen3__subtitle">Оптимизируйте и контролируйте свое прибытие на место</h3>
          <p class="screen3__text">Транспортные средства доставки прибывают в фиксированные промежутки времени в заранее назначенные отсеки, где разгрузочное оборудование готово и ждет их.</p>
        </div>
        <picture>
          <source srcset="img/screen3-2.avif" type="image/avif">
          <source srcset="img/screen3-2.webp" type="image/webp">
          <img loading="lazy" src="img/screen3-2.png" class="screen3__image" alt="screen3 pics">
        </picture>
      </div>
      <div class="screen3__item">
        <div class="screen3__info">
          <h3 class="screen3__subtitle">Возьмите под контроль данные в режиме реального времени</h3>
          <p class="screen3__text">Интеллектуальная отчетность дает вам возможность принимать решения в зависимости от того, как обстоят дела в данный момент. Больше никаких ручных отчетов по заливке бетона или ежемесячной проверки 10.000 накладных со счетами, все это доступно онлайн без каких-либо усилий.</p>
        </div>
        <picture>
          <source srcset="img/screen3-3.avif" type="image/avif">
          <source srcset="img/screen3-3.webp" type="image/webp">
          <img loading="lazy" src="img/screen3-3.png" class="screen3__image" alt="screen3 pics">
        </picture>
      </div>
    </div>
  </div>
</section>