<section class="screen1">
  <div class="container">
    <h1 class="screen1__title">Умная доставка материалов для сложных строительных площадок</h1>
    <div class="screen1__actions-wrp">
      <a href="#" class="screen1__link screen1__link_active">Заказать демо</a>
      <a href="#" class="screen1__link">Подробнее</a>
    </div>
    <picture>
      <source srcset="img/img-basik.avif" type="image/avif">
      <source srcset="img/img-basik.webp" type="image/webp">
      <img loading="lazy" src="img/img-basik.png" class="screen1__img-basik" alt="bulding town">
    </picture>
    <picture>
      <source srcset="img/img-group.avif" type="image/avif">
      <source srcset="img/img-group.webp" type="image/webp">
      <img loading="lazy" src="img/img-group.png" class="screen1__img-group" alt="car group">
    </picture>
  </div>
</section>