<section class="sponsors">
  <div class="container">
    <div class="sponsors-wrp">
      <a href="#" class="sponsors__link">
        <picture>
          <source srcset="img/sponsors1.avif" type="image/avif">
          <source srcset="img/sponsors1.webp" type="image/webp">
          <img loading="lazy" src="img/sponsors1.png" class="sponsors__image" alt="sponsors pics">
        </picture>
      </a>
      <a href="#" class="sponsors__link">
        <picture>
          <source srcset="img/sponsors2.avif" type="image/avif">
          <source srcset="img/sponsors2.webp" type="image/webp">
          <img loading="lazy" src="img/sponsors2.png" class="sponsors__image" alt="sponsors pics">
        </picture>
      </a>
      <a href="#" class="sponsors__link">
        <picture>
          <source srcset="img/sponsors3.avif" type="image/avif">
          <source srcset="img/sponsors3.webp" type="image/webp">
          <img loading="lazy" src="img/sponsors3.png" class="sponsors__image" alt="sponsors pics">
        </picture>
      </a>
      <a href="#" class="sponsors__link">
        <picture>
          <source srcset="img/sponsors4.avif" type="image/avif">
          <source srcset="img/sponsors4.webp" type="image/webp">
          <img loading="lazy" src="img/sponsors4.png" class="sponsors__image" alt="sponsors pics">
        </picture>
      </a>
      <a href="#" class="sponsors__link">
        <picture>
          <source srcset="img/sponsors5.avif" type="image/avif">
          <source srcset="img/sponsors5.webp" type="image/webp">
          <img loading="lazy" src="img/sponsors5.png" class="sponsors__image" alt="sponsors pics">
        </picture>
      </a>
      <a href="#" class="sponsors__link">
        <picture>
          <source srcset="img/sponsors6.avif" type="image/avif">
          <source srcset="img/sponsors6.webp" type="image/webp">
          <img loading="lazy" src="img/sponsors6.png" class="sponsors__image" alt="sponsors pics">
        </picture>
      </a>
    </div>
  </div>
</section>